.App {
  width: 99vw;
  height: 99vh;
  color: gray;
  background-color: #141325;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 1rem;
}

.left-right {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 1rem;
}

.right {
  width: 50%;
}

/* COMPONENTS */
.main-component {
  width: 100%;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.7rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.secondary-component {
  padding: 0.3rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.button {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: #b3b2b2;
  cursor: pointer;
  color: black;
  white-space: nowrap;
}

.input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.2rem;
  color: white !important;
}

/* HEADER START */
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .header-left,
.header .header-right {
  width: 50%;
}

.header .header-right,
.header .header-left .completed {
  font-size: 1.5rem;
  color: white;
}

.header .header-right {
  text-align: right;
  cursor: pointer;
}

/* HEADER END */

.hide {
  display: none !important;
}

@media (width <=480px) {
  * {
    font-size: 0.8rem !important;
  }

  .App .left-right {
    flex-direction: column;
  }

  .App .left,
  .App .right {
    width: 100%;
  }

  .App .right .CompletedTasks.Todo.main-component .btn-input .interval-input.input {
    flex-direction: column;
  }
}

@media (480px < width < 1000px) {
  * {
    font-size: 0.9rem;
  }

  .App .left-right {
    flex-direction: column;
  }

  .App .left,
  .App .right {
    width: 100%;
  }


}

@media (480px <=width <=600px) {
  .App .right .CompletedTasks.Todo.main-component .btn-input .interval-input.input {
    flex-direction: column;
  }
}


@media (1000px <=width < 1200px) {
  .App .right .CompletedTasks.Todo.main-component .btn-input .interval-input.input {
    flex-direction: column;
  }
}