.Alarm.main-component > div:first-child {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.Alarm.main-component > div:first-child > div:first-child {
  font-size: 3rem;
  cursor: pointer;
}
